{% extends "base.html" %}

{% block title %} 404 Error {% endblock %}


{% block content %}
<br><br><br>
<div class="container">
   <div class="row">
       <div class="col">
           <h1 style="width: 100%">Sorry Michael Scott caused an error in</h1>
       </div>
   </div>
    
    <div class="row">
        <div class="col">
            <img width="100%"src="https://bis235au2015.files.wordpress.com/2016/04/635946083805496334443262988_logo.png?w=1000" alt="">
        </div>
    </div>
    
   
</div>

{% endblock %}