{% extends "base.html" %}

{% block topHeader %}
    <div class="row">
    <div class="col-sm-12">

 <div class="jumbotron"style="background-color: lightgray">
     <img style="width:100%;margin-top:30px"class="img-responsive"src="http://www.pngmart.com/files/3/Welcome-PNG-File.png" alt="">
 
</div>
        </div>
        </div> 
    

  
      
{% endblock %}
       
{% block content %}
<div class="container">
    <div class="row" style="padding-bottom: 300px">
        <div class="col-md-5"style="background-color: lightcyan;">
            <h1 style="font-size: 65px; text-align: center;margin-top: 50%">This is the new thing everyone wants</h1>
        </div>
        <div class="col">
            <img height="auto" width="100%"class=" img-responsive" src="https://cdn0.iconfinder.com/data/icons/office-set-4/512/1-512.png" alt="">
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <img height="auto" width="100%"class=" img-responsive" src="https://cdn0.iconfinder.com/data/icons/office-set-4/512/1-512.png" alt="">
        </div>
        <div class="col-md-5"style="background-color: lightcyan;">
            <h1 style="font-size: 65px; text-align: center;margin-top: 50%">But how badly do they want it?</h1>
        </div>
    </div>
    
    
</div>     
       
       
{% endblock %}
        



